@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
html,
body {
  width: 100%;
  overflow-x: hidden;
  color: #202a3e;
  font-family: "Pretendard", AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, "돋움", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  color: inherit;
}
a {
  text-decoration: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
ul,
ol,
li {
  list-style: none;
}

h2 {
  font-size: 45px;
  font-weight: 700;
}
h3 {
  font-size: 35px;
  font-weight: 800;
}
